main {
    max-width: 840px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #146ec2;
    padding: 10px;
}

nav a {
    display: inline;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-bottom: 0px;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

main img {
    margin: 1em;
    width: 150px;
    height: auto;
    border: 1px solid rgb(0, 0, 0);
    padding: 2px;

}

p {
    padding: 0;
}

aside {
    width: 200px;
    margin: 1em;
    border: 1px solid #000;
    padding: 0;
    background-color: #eee;
    color: #333;
    text-align: center;
}

footer {
    margin-top: 0;
    border-top: 1px solid #000;
    text-align: center;
}