main {
    max-width: 840px;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    background-color: steelblue;
    color: white;
    padding: 5px 10px;
    display: block; 
    text-decoration: none;
}

h1 {
    color: darkblue;
    font-size: 2em;
}

aside {
    width: 20em;
    margin: 1em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1em;
    background-color: #eee;
    color: #111;
    text-align: center;
}

aside img {
    img {
    width: 200px;     
    height: auto;     
    border: 2px solid #ccc; 
    padding: 5px;     
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

}

main img {
    width: 200px;
    height: auto;
}

img {
    border: 2px solid #ccc;
    padding: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
    padding-top: 10px; 
}
